;; rule [:period ["media-mode" 1] nil {:afterup ["media-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>

    ;; !  | means mandatoro
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | 
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; :vk_none is for empty cells
;; 


{
    :profiles {
        :goku {
            :default true
            ; :sim 50 ;200
            ; :delay 80 ;200
            ; :alone 120 ;500
            ; :held 70 ;500

            ;; simultaneous_threshold_milliseconds (def: 50)
            ;; keys need to be pressed within this threshold to be considered simultaneous
            :sim     50
            ;; to_delayed_action_delay_milliseconds (def: 500)
            ;; basically it means time after which the key press is count delayed
            :delay   500
            ;; to_if_alone_timeout_milliseconds (def: 1000)
            ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
            :alone   1000
            ;; to_if_held_down_threshold_milliseconds (def: 500)
            ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
            ;; increase this value to allow you to hold a simlayer key longer before the next key is pressed
            :held    1000}
    }

    :templates {
        :open       "open \"%s\""
    }

    :modifiers {
        ; :fg [:command :shift]
        ; :super-hyper [:command :shift :control :option :fn]
        ; :hyper [:command :shift :control :option]
        :cos [:command :shift :option]
        ; :cst [:command :shift :control]
        :co [:command :option]
        :cs [:command :shift]
        :ct [:command :control]
        :to [:control :option]
        ; :ts [:control :shift]
        :os [:option :shift]
    }

    :tos {
        :myundo {:key :z :modi :command}
        :myredo {:key :z :modi :cs}
        :delete_line {:key :k :modi :cs} ;!CSk Lindquist
        :open_clipMenu {:key :v :modi :co}
        :open_aText {:key :a :modi :co}
        :next_window {:key :grave_accent_and_tilde :modi :command}
        :command_tab {:key :tab :modi :command}
        ; :select_line {:key :a :modi :control }

        :cursor_find_match {:key :d :modi :command} ; Lindquist
        :cursor_above {:key :up_arrow :modi :co} ; Lindquist
        :cursor_below {:key :down_arrow :modi :co} ; Lindquist
        ; :acejump {:key :j :modi :cos}
        ; :acejump_line {:key :l :modi :cos}
        ; :acejump_selection {:key :s :modi :cos}
        ; :acejump_multi {:key :m :modi :cos}

        :start_of_line {:key :left_arrow :modi :command}
        :end_of_line {:key :right_arrow :modi :command}

        :mycut {:key :x :modi :command}
        :mycopy {:key :c :modi :command}
        :mypaste_plain {:key :v :modi :cs}
        :mypaste {:key :v :modi :command}

        :mybold {:key :b :modi :command}
        :myitalic {:key :i :modi :command}
        :myunderline {:key :u :modi :command}
        :mystrikethrough {:key :x :modi :cs}
        :fontdecrease {:key :comma :modi :cs}
        :fontincrease {:key :period :modi :cs}

        :myhard_reload {:key :r :modi :cs}
        ; :myreload {:key :r :modi :command} ; not used, probably hard reload should be the default
        :mysave {:key :s :modi :command}
        :myselect_all {:key :a :modi :command}

        :myfind_previous {:key :g :modi :cs}
        :myfind_next {:key :g :modi :command}
        :myfind_replace {:key :h :modi :cs}
        :myfind {:key :f :modi :command}
        :myfind_selection {:key :e :modi :command}
        :myfind_gspreadsheet {:key :h :modi :cs}

        :mytoggle_comments {:key :slash :modi :command}
        :myfocus_terminal {:key :r :modi :ct}; custom shortcut in VS Code - View: Focus Active Editor Group ⌃⌘R 
        :myfocus_editor {:key :s :modi :ct} ; custom shortcut in VS Code - Terminal: Focus Terminal ⌃⌘S

        :mydesktop1 {:key :1 :modi :control}
        :mydesktop2 {:key :2 :modi :control}
        :mydesktop3 {:key :3 :modi :control}
        :mydesktop4 {:key :4 :modi :control}
        :mydesktop5 {:key :5 :modi :control}
        :mydesktop6 {:key :6 :modi :control}
        :mydesktop7 {:key :7 :modi :control}
        :mydesktop8 {:key :8 :modi :control}
        :mydesktop9 {:key :9 :modi :control}
        :mydesktop0 {:key :0 :modi :control}

        :mynext_tab {:key :right_arrow :modi :co}
        :myprevious_tab {:key :left_arrow :modi :co}
        :mynext_desktop {:key :right_arrow :modi :control}
        :myprevious_desktop {:key :left_arrow :modi :control}
        :mynext_sheet {:key :page_down :modi :cs}
        :myprevious_sheet {:key :page_up :modi :cs}
        :myemojisearch {:key :spacebar :modi :ct}
        :myscreenshot3 {:key :3 :modi :cs}
        :myscreenshot4 {:key :4 :modi :cs}
        :myscreenshot5 {:key :5 :modi :cs}

        :rectangle_left_half {:key :left_arrow :modi :to}
        :rectangle_right_half {:key :right_arrow :modi :to}
        :rectangle_top_half {:key :up_arrow :modi :to}
        :rectangle_bottom_half {:key :down_arrow :modi :to}
        
        :rectangle_top_left {:key :u :modi :to}
        :rectangle_top_right {:key :i :modi :to}
        :rectangle_bottom_left {:key j :modi :to}
        :rectangle_bottom_right {:key :k :modi :to}

        :rectangle_first_third {:key :d :modi :to}
        :rectangle_first_two_thirds {:key :e :modi :to}
        :rectangle_center_third {:key :f :modi :to}
        :rectangle_last_two_thirds {:key :t :modi :to}
        :rectangle_last_third {:key :g :modi :to}

        :rectangle_maximize {:key :return_or_enter :modi :to}
        :rectangle_smaller {:key :hyphen :modi :to}
        :rectangle_larger {:key :equal_sign :modi :to}
        :rectangle_center {:key :c :modi :to}
        :rectangle_restore {:key :delete_or_backspace :modi :to}

        :gmail_cc {:key :c :modi :cs}
        :gmail_bcc {:key :b :modi :cs}
        :gmail_quote {:key :9 :modi :cs}
        :gmail_discard {:key :d :modi :cs}
    }

    :simlayers {
        ; left hand
        :caps_lock-mode {:key :caps_lock} ; delete mode
        ; :tab-mode {:key :tab} ; or selection mode???

        :r-mode {:key :r} ; parenthesis

        :a-mode {:key :a} ; rectangle
        :s-mode {:key :s} ; gmail
        :d-mode {:key :d} ; numbers
        :f-mode {:key :f} ; symbols
        :g-mode {:key :g} ; Lindquist - cursor mode

        :c-mode {:key :c} ; accents
        :v-mode {:key :v} ; text related
        
        ; left hand
        :o-mode {:key :o} ; to open (= go to the specified application)
        :l-mode {:key :l} ; find, save, select all
        :comma-mode {:key :comma} ; this is reserved for VS Code and programming
        :spacebar-mode {:key :spacebar}
        ;:movement-mode {:key :q} ; Lindquist
        ;:movement-mode {:key :g :modi :fg} ; Lindquist
        ;:movement-mode {:key :f :modi :g} ; Lindquist
        ; :delete-mode {:key :h} ; Lindquist
        ; :emoji-mode {:key :z} ; Lindquist
    }


        :main [


            {
                :des "a-mode" ; rectangle
                :rules [
                    :a-mode

                    [:e :rectangle_top_left]
                    [:r :rectangle_top_right]
                    [:d :rectangle_bottom_left]
                    [:f :rectangle_bottom_right]
                    
                    [:k :rectangle_left_half]
                    [:l :rectangle_bottom_half]
                    [:semicolon :rectangle_top_half]
                    [:quote :rectangle_right_half]

                    [:u :rectangle_first_third]
                    [:i :rectangle_first_two_thirds]
                    [:o :rectangle_center_third]
                    [:p :rectangle_last_two_thirds]
                    [:open_bracket :rectangle_last_third]

                    [:return_or_enter :rectangle_maximize]
                    [:close_bracket :rectangle_restore]
                    [:backslash :rectangle_center]
                    [:period :rectangle_smaller]
                    [:slash :rectangle_larger]

                    [:m :next_window]
                    [:comma :command_tab]
                ]
            }


            {
                :des "s-mode" ; gmail
                :rules [
                    :s-mode

                    [:i :gmail_cc]
                    [:o :gmail_bcc]
                    [:k :gmail_quote]
                    [:comma :gmail_discard]
                ]
            }


            { 
                :des   "g-mode"
                :rules
                    [
                        :g-mode

                        [:k :cursor_find_match]
                        [:l :cursor_below]
                        [:semicolon :cursor_above]
                        ;  [:-v :acejump]
                        ;  [:-l :acejump_line]
                        ;  [:-m :acejump_multi]
                        ;  [:left_shift :acejump_selection]
                    ]
            }


            {   
                :des   "spacebar-mode"
                :rules [
                    :spacebar-mode

                    [:##1 :mydesktop1]
                    [:##2 :mydesktop2]
                    [:##3 :mydesktop3]
                    [:##4 :mydesktop4]
                    [:##5 :mydesktop5]
                    [:##6 :mydesktop6]
                    [:##7 :mydesktop7]
                    [:##8 :mydesktop8]
                    [:##9 :mydesktop9]
                    [:##0 :mydesktop0]

                    [:##q :mycut]
                    [:##w :mycopy]
                    [:##e :mypaste_plain]
                    [:##r :mypaste]

                    [:##t :open_clipMenu]
                    [:##g :open_aText]

                    [:##a :left_control]
                    [:##s :left_shift]
                    [:##d :left_option]
                    [:##f :left_command]

                    [:##z :myhard_reload]
                    [:##x :mysave]
                    [:##c :myselect_all]

                    [:##i :start_of_line]
                    [:##o :page_down]
                    [:##p :page_up]
                    [:##open_bracket :end_of_line]

                    [:##k :left_arrow]
                    [:##l :down_arrow]
                    [:##semicolon :up_arrow]
                    [:##quote :right_arrow]
 
                    [:m :next_window]
                    [:comma :command_tab]
                    [:##period [:down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow]]
                    [:##slash [:up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow]]

                    [:b :myprevious_sheet]
                    [:n :mynext_sheet]
                    
                    [:left_option :myprevious_desktop]
                    [:left_command :mynext_desktop]
                    [:right_command :myprevious_tab]
                    [:right_option :mynext_tab]
                ]
            }


            {
                :des "caps_lock" ; or delete mode
                :rules [
                    :caps_lock-mode

                    [:i :delete_line]
                    [:k :!Cdelete_or_backspace]
                    [:l :!Odelete_or_backspace]
                    [:semicolon :!Odelete_forward]
                    [:quote :!Cdelete_forward]
                ]
            }


            {
                :des "tab-mode" ; or select mode
                :rules [
                    :tab-mode

                    ; [:k :focus_editor]
                    ; [:l :focus_terminal]
                    ; [:semicolon :focus_explorer]
                ]
            }


            {
                :des "o-mode layer"
                :rules [ 
                    :o-mode 

                    [:a [:open "/Applications/Google Chrome.app"]]
                    [:s [:open "/Applications/Google Chrome Canary.app"]]
                    [:d [:open "/Applications/Visual Studio Code.app"]]
                    [:f [:open "/System/Library/CoreServices/Finder.app"]]
                    [:q [:open "/Applications/Anki.app/"]]
                    
                    [:e [:open "/Applications/OpenOffice.app/"]]
                    [:r [:open "/Applications/Adobe Acrobat Reader DC.app/"]]

                ]
            }


            {
                :des "d-mode layer"
                :rules [ 
                    :d-mode 

                    [:u :!S5]
                    [:i :7]
                    [:o :8]
                    [:p :9]
                    [:open_bracket :comma]

                    [:k :4]
                    [:l :5]
                    [:semicolon :6]
                    [:quote :period]
                    
                    [:m :0]
                    [:comma :1]
                    [:period :2]
                    [:slash :3]
                ] 
            }


            {
                :des "comma-mode layer"
                :rules [ 
                    :comma-mode 

                    [:s :myfocus_editor]
                    [:d :myfocus_terminal]
                    [:f :mytoggle_comments]
                ]
            }


            {
                :des "f-mode layer"
                :rules [ 
                    :f-mode 

                    [:spacebar :return_or_enter]

                    [:i :!Sslash]
                    [:o :!S1]
                    [:p :hyphen]
                    [:open_bracket :!Shyphen]

                    [:k [:quote :spacebar]] ; ATTENTION: spacebar at the end
                    [:l :!S3]
                    [:semicolon :!Ssemicolon]
                    [:quote :semicolon]

                    [:comma [:!Squote :spacebar]] ; ATTENTION: spacebar at the end
                    [:period :!S2]
                    [:slash [:!Sgrave_accent_and_tilde :spacebar]]
                ]
            }


            {
                :des "r-mode layer"
                :rules [ 
                    :r-mode 

                    [:u [:grave_accent_and_tilde :spacebar]] ; ATTENTION: spacebar at the end
                    [:i :!Sopen_bracket]
                    [:o :!Sclose_bracket]
                    [:p :!Scomma]
                    [:open_bracket :!Speriod]

                    [:j :equal_sign]
                    [:k :!S9]
                    [:l :!S0]
                    [:semicolon :open_bracket]
                    [:quote :close_bracket]

                    [:m :!Sequal_sign]
                    [:comma :hyphen]
                    [:period :!S8]
                    [:slash :slash]
                ]
            }


            {
                :des "v-mode layer"
                :rules [ 
                    :v-mode 
                    
                    [:k :mybold]
                    [:l :myitalic]
                    [:semicolon :myunderline]
                    [:quote :mystrikethrough]
                    [:comma :fontdecrease]
                    [:period :fontincrease]
                ]
            }


            {
                :des "c-mode layer"
                :rules [ 
                    :c-mode 
                    [:l [:grave_accent_and_tilde :e]]
                    [:o [:grave_accent_and_tilde :u]]
                    [:semicolon [:grave_accent_and_tilde :i]]
                    [:quote [:grave_accent_and_tilde :o]]
                    [:k [:quote :e]]
                    [:period [:grave_accent_and_tilde :!Se]]
                    [:j [:grave_accent_and_tilde :a]]
                ]
            }


            {
                :des "l-mode layer"
                :rules [ 
                    :l-mode

                    [:q :myfind_previous]
                    [:w :myfind_next]
                    [:e :myfind_selection]
                    [:r :myfind_replace]
                    [:d :myfind_gspreadsheet]
                    [:f :myfind]

                ]
            }


            {:des "default mode"
                :rules [

                    [:caps_lock :delete_or_backspace]
                    [:left_control :vk_none]
                    [:left_option :vk_none] 
                    [[:7 :8] :myscreenshot3]
                    [[:8 :9] :myscreenshot4]
                    [[:9 :0] :myscreenshot5]
                    [:y :myemojisearch]
                    
                    [:e :f]
                    [:##Se :##Sf]
                    [:r :p]
                    [:##Sr :##Sp]
                    [:t :b]
                    [:##St :##Sb]
                    [:s :r]
                    [:##Ss :##Sr]
                    [:d :s]
                    [:##Sd :##Ss]
                    [:f :t]
                    [:##Sf :##St]
                    [:z :x]
                    [:##Sz :##Sx]
                    [:x :c]
                    [:##Sx :##Sc]
                    [:c :d]
                    [:##Sc :##Sd]
                    [:u :j]
                    [:##Su :##Sj]
                    [:i :l]
                    [:##Si :##Sl]
                    [:o :u]
                    [:##So :##Su]
                    [:p :y]
                    [:##Sp :##Sy]
                    [:open_bracket :z]
                    [:##Sopen_bracket :##Sz]
                    [:close_bracket :delete_forward]
                    [:j :m]
                    [:##Sj :##Sm]
                    [:k :n]
                    [:##Sk :##Sn]
                    [:l :e]
                    [:##Sl :##Se]
                    [:semicolon :i]
                    [:##semicolon :##Si]
                    [:quote :o]
                    [:##quote :##So]
                    [:m :k]
                    [:##Sm :##Sk]
                    [:comma :h]
                    [:##Scomma :##Sh]
                    [:slash :period]
                    [:period :comma]
                    [:##Sslash :comma] ; used only for the shortcuts in GDocs, to reduce font size

                    [:h :vk_none]
                    [:##Sh :vk_none]
                    [:y :vk_none]

                    [:b :myredo]
                    [:##Sb :vk_none]
                    [:n :myundo]
                    [:##Sn :vk_none]
 
                ]
            }



        ]
    }