;; main contains multiple manipulators
    ;; each manipulator has a description and multiple rules
    
    ;; main                -> {:main [{:des "..." :rules [rule1 rule2 ...]}]}
    ;; manipulator         -> {:des "..." :rules [rule1 rule2 ...]}
    ;; manipulator's rules -> [rule1 rule2 ...]
    {
        :layers {
            ; :caps_mode {:key :caps_lock}
            ; :q-mode {:key :f}
        }        
        ; :layers {
        ; }
        :main [
            {:des "a to 7, b to 2, c to insert 1 2 3"
              :rules [
                ; [:caps_lock :a]
                [:caps_lock :delete_or_backspace]
                [:left_option :left_command]
                [:left_command :left_option]
                [:e :f]
                [:r :p]
                [:t :b]
                [:s :r]
                [:d :s]
                [:f :t]
                [:z :x]
                [:x :c]
                [:c :d]
                [:u :j]
                [:i :l]
                [:o :u]
                [:p :y]
                [:j :m]
                [:k :n]
                [:l :e]
                [:semicolon :i]
                [:quote :o]
                [:n :z]
                [:m :k]
                [:comma :h]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [{:key :spacebar :modi :left_shift} [:spacebar :equal_sign :spacebar]]
            ]}
            ; {:des "capslock layer"
            ;   :rules [ 
            ;       :caps_mode 
            ;         [:##h :left_arrow]
            ;         [:##j :down_arrow]
            ;         [:##k :up_arrow]
            ;         [:##l :right_arrow]
            ;         [:##f :left_option]
            ;         [:##d :left_shift]
            ;         [:n :comma]
            ; ]}
            ; {:des "q-mode layer"
            ;   :rules [ 
            ;       :q-mode 
            ;         [:n :comma]
            ; ]}        
        ]
    }    