;; rule [:period ["media-mode" 1] nil {:afterup ["media-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>

    ;; !  | means mandatoro
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; :vk_none is for empty cells
;; 





{
    :profiles {
        :goku {
            :default true
            ; :sim 50 ;200
            ; :delay 500 ;200
            ; :alone 1000 ;500
            ; :held 1000 ;500

            ;; simultaneous_threshold_milliseconds (def: 50)
            ;; keys need to be pressed within this threshold to be considered simultaneous
            :sim 50
            ;; to_delayed_action_delay_milliseconds (def: 500)
            ;; basically it means time after which the key press is count delayed
            :delay 50
            ;; to_if_alone_timeout_milliseconds (def: 1000)
            ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
            :alone 1000
            ;; to_if_held_down_threshold_milliseconds (def: 500)
            ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
            ;; increase this value to allow you to hold a simlayer key longer before the next key is pressed
            :held 1000}
    }

    :templates {
        :open       "open \"%s\""
    }

    :modifiers {
        ;; :cmd [:command]
        ; :fg [:command :shift]
        ; :super-hyper [:command :shift :control :option :fn]
        ; :hyper [:command :shift :control :option]
        :cos [:command :shift :option]
        ; :cst [:command :shift :control]
        :co [:command :option]
        :cs [:command :shift]
        :ct [:command :control]
        :to [:control :option]
        ; :ts [:control :shift]
        :os [:option :shift]
        :cp [:caps_lock]
    }

    :tos {
        :myundo {:key :z :modi :command}
        :myredo {:key :z :modi :cs}
        :delete_line {:key :k :modi :cs} ;!CSk Lindquist
        :open_clipMenu {:key :v :modi :co}
        :open_aText {:key :a :modi :co}
        :next_window {:key :grave_accent_and_tilde :modi :command}
        :command_tab {:key :tab :modi :command}

        :cursor_find_match {:key :d :modi :command} ; Lindquist
        :cursor_above {:key :up_arrow :modi :co} ; Lindquist
        :cursor_below {:key :down_arrow :modi :co} ; Lindquist
        ; :acejump {:key :j :modi :cos} ; Lindquist
        ; :acejump_line {:key :l :modi :cos} ; Lindquist
        ; :acejump_selection {:key :s :modi :cos} ; Lindquist
        ; :acejump_multi {:key :m :modi :cos} ; Lindquist

        :start_of_line {:key :left_arrow :modi :command}
        :end_of_line {:key :right_arrow :modi :command}

        :mycut {:key :x :modi :command}
        :mycopy {:key :c :modi :command}
        :mypaste_plain {:key :v :modi :cs}
        :mypaste {:key :v :modi :command}

        :mybold {:key :b :modi :command}
        :myitalic {:key :i :modi :command}
        :myunderline {:key :u :modi :command}
        :mystrikethrough {:key :x :modi :cs}
        :fontdecrease {:key :comma :modi :cs}
        :fontincrease {:key :period :modi :cs}

        :myhard_reload {:key :r :modi :cs}
        ; :myreload {:key :r :modi :command} ; not used, probably hard reload should be the default
        :mysave {:key :s :modi :command}
        :myselect_all {:key :a :modi :command}

        :myfind_previous {:key :g :modi :cs}
        :myfind_next {:key :g :modi :command}
        :myfind_replace {:key :h :modi :cs}
        :myfind {:key :f :modi :command}
        :myfind_selection {:key :e :modi :command}
        :myfind_gspreadsheet {:key :h :modi :cs}

        :mytoggle_comments {:key :slash :modi :command}
        :mytoggle_sidebar {:key :b :modi :command}
        :myfocus_sidebar {:key :0 :modi :command}
        :myfocus_terminal {:key :s :modi :ct}; custom shortcut in VS Code - View: Focus Active Editor Group ⌃⌘R 
        :myfocus_editor {:key :r :modi :ct} ; custom shortcut in VS Code - Terminal: Focus Terminal ⌃⌘S
        :myopen-from-sidebar {:key :down_arrow :modi :command}

        :mydesktop1 {:key :1 :modi :control}
        :mydesktop2 {:key :2 :modi :control}
        :mydesktop3 {:key :3 :modi :control}
        :mydesktop4 {:key :4 :modi :control}
        :mydesktop5 {:key :5 :modi :control}
        :mydesktop6 {:key :6 :modi :control}
        :mydesktop7 {:key :7 :modi :control}
        :mydesktop8 {:key :8 :modi :control}
        :mydesktop9 {:key :9 :modi :control}
        :mydesktop0 {:key :0 :modi :control}

        :mynext_tab {:key :right_arrow :modi :co}
        :myprevious_tab {:key :left_arrow :modi :co}
        :mynext_desktop {:key :right_arrow :modi :control}
        :myprevious_desktop {:key :left_arrow :modi :control}
        :mynext_sheet {:key :page_down :modi :cs}
        :myprevious_sheet {:key :page_up :modi :cs}
        :myemojisearch {:key :spacebar :modi :ct}
        ;; :myscreenshot3 {:key :3 :modi :cs}
        :myscreenshot4 {:key :4 :modi :cs}
        ;; :myscreenshot5 {:key :5 :modi :cs}

        :rectangle_left_half {:key :left_arrow :modi :to}
        :rectangle_right_half {:key :right_arrow :modi :to}
        :rectangle_top_half {:key :up_arrow :modi :to}
        :rectangle_bottom_half {:key :down_arrow :modi :to}
        
        :rectangle_top_left {:key :u :modi :to}
        :rectangle_top_right {:key :i :modi :to}
        :rectangle_bottom_left {:key j :modi :to}
        :rectangle_bottom_right {:key :k :modi :to}

        :rectangle_first_third {:key :d :modi :to}
        :rectangle_first_two_thirds {:key :e :modi :to}
        :rectangle_center_third {:key :f :modi :to}
        :rectangle_last_two_thirds {:key :t :modi :to}
        :rectangle_last_third {:key :g :modi :to}

        :rectangle_maximize {:key :return_or_enter :modi :to}
        :rectangle_smaller {:key :hyphen :modi :to}
        :rectangle_larger {:key :equal_sign :modi :to}
        :rectangle_center {:key :c :modi :to}
        :rectangle_restore {:key :delete_or_backspace :modi :to}

        :gmail_cc {:key :c :modi :cs}
        :gmail_bcc {:key :b :modi :cs}
        :gmail_quote {:key :9 :modi :cs}
        :gmail_discard {:key :d :modi :cs}

        :select-before {:key :left_arrow :modi :cs}
        :select-previous-word {:key :left_arrow :modi :os}
        :select-next-word {:key :right_arrow :modi :os}
        :select-after {:key :right_arrow :modi :cs}

        ;; :myQuestion {:key :slash} NON utilizzata ancora
        :myFileOpen {:key :down_arrow :modi :command}
        :myCloseApp {:key :q :modi :command}
        :myCloseWindow {:key :w :modi :command}

        :myMoveFocusToMenuBar {:key :f10 :modi :control}
        :myChangeWayTabMovesFocus {:key :f7 :modi :control}

        ;; :myClickShift {:key :button2}
        :myBackspaceWord {:key :delete_or_backspace :modi :option}
    }

    :simlayers {

        ;; :spacebar-mode {:key :spacebar} 

        ; >>>>>> left hand
        :rectangle-mode {:key :a}
        :gmail-mode {:key :s}
        :cursor-mode {:key :g} ; Lindquist - cursor mode
        ; :select-mode {:key :c} 
        :parentheses-mode {:key :return_or_enter :alone {:key :return_or_enter}}
        

        
        ; >>>>>> right hand
        :text-mode {:key :n} ; text related
        :find-mode {:key :e} ; find, save, select all
        :code-mode {:key :h} ; this is reserved for VS Code and programming
        :open-mode {:key :delete_or_backspace} ; to open (= go to the specified application)
        ; :close_bracket-mode {:key :close_bracket}
        ;; :dele       
 
        ; NEVER IMPLEMENTED the following
        ;:movement-mode {:key :q} ; Lindquist NEVER IMPLEMENTED
        ;:movement-mode {:key :g :modi :fg} ; Lindquist NEVER IMPLEMENTED
        ;:movement-mode {:key :f :modi :g} ; Lindquist NEVER IMPLEMENTED
        ; :delete-mode {:key :h} ; Lindquist NEVER IMPLEMENTED
        ; :emoji-mode {:key :z} ; Lindquist NEVER IMPLEMENTED

    }

    :layers {
 
        ;; ⭐ ⭐ BIG BIG problem finally solved ⭐ ⭐
        ;; :accentsAndMouse-mode {:key :keypad_2}
        ;; accents and punctuation and keys to be used 
        ;; with left hand when using mouse with right hand
        ;; ⬇️ ⬇️ BIG BIG problem finally solved: see below ⬇️ ⬇️ 


        ;; >>>>>> left hand
        :numbers-mode {:key :tab } ; this is a true layer version of the numbers-mode simlayer

        ;; :accentsAndMouse-mode {:key :keypad_2   {:alone [:grave_accent_and_tilde :spacebar] }    } 

        ;; :rectangle-mode {:key :a}
        ;; :gmail-mode {:key :s}
        ;; :numbers-mode {:key :d}
        ;; :cursor-mode {:key :g} ; Lindquist - cursor mode
        ;; :select-mode {:key :c}
        
        ;; >>>>>> right hand
        :spacebar-mode {:key :spacebar :alone {:key :spacebar}}
        ;; :find-mode {:key :l} ; find, save, select all
        ;; :code-mode {:key :comma} ; this is reserved for VS Code and programming
        ;; :text-mode {:key :k} ; text related

    }


    :devices {
           :macbook2016 [{:vendor_id 1452 :product_id 631 }] ;; Apple MacBook 2016's integrated keyboard
           :rk68 [{:vendor_id 3141 :product_id 32792 }] ;; Royal Kludge RK 68
           :daskey [{:vendor_id 9456 :product_id 321 }] ;; Daskeyboyard
    }

    ;; :applications {
    ;;     :acrobat ["com.adobe.Reader"]
    ;;     :chrome ["com.google.Chrome"]
    ;;     :code ["com.microsoft.VSCode"]
    ;; }

        :main [

             ;; ⭐ ⭐ BIG BIG problem finally solved ⭐ ⭐
            ;; How to use a proper layer activated by a given and,
            ;; on :alone get the apostrophe.
            ;; The problem is that the apostrophe is two consecutive keys [:quote :spacebar]
            ;; and using it on :alone throws an exception.
            ;; So the solution is 
            ;; - to skip :layers
            ;; - and instead use a variable.
            ;; Solution provided on the karabiner group on Telegram 
            ;; See down here
            ;; ⬇️  ⬇️  ⬇️  ⬇️  ⬇️  ⬇️ 

            { 
            :des   "accentsAndMouse-mode rule" ;; solution provided on the karabiner group on Telegram 
            :rules [
                    [:keypad_2 ["accentsAndMouse-mode" 1] nil {:afterup ["accentsAndMouse-mode" 0] :alone [:quote :spacebar]}]
                    [:c :2 :accentsAndMouse-mode]
                ]
            }

            ;; ⬆️  ⬆️  ⬆️  ⬆️  ⬆️  ⬆️    
            ;; ⭐ ⭐ BIG BIG problem finally solved ⭐ ⭐ 


            ;; {:des   "if using Royal Kludge RK68"
            ;;     :rules [
            ;;         [:condi :rk68] ;; inside [] you can use manies conditions at once

            ;;         [:a :b]
            ;;     ]
            ;; }


            ;; {:des   "if in Acrobat"
            ;;     :rules [
            ;;         [:condi :acrobat] ;; inside [] you can use manies conditions at once

            ;;         [:a :page_down]
            ;;     ]
            ;; }


            ;; {:des   "condition"
            ;;     :rules [
            ;;         [:condi :daskey] ;; inside [] you can use manies conditions at once
                    
            ;;     ]
            ;; }



            {:des   "enter and exit number-mode"
                :rules [
                    [[:1 :2] [:vk_none ["numbers-mode" 1]]] ;; turn ON numbers-mode
                    [[:3 :4] [:vk_none ["numbers-mode" 0]]] ;; turn OFF numbers-mode
                    [[:7 :8] :myemojisearch]                    
                    [[:9 :0] :myscreenshot4]
                ]
            }
 

            {   
                :des   "spacebar layer" ; IMPORTANT: to work properly, this simlayer has to be placed before the others
                :rules [
                    :spacebar-mode

                    ;; [:escape :delete_forward] ;; delete foreward character 1/3
                    [:delete_forward :delete_forward] ;; delete foreward character 1/3

                    ;; [:!Qa :c] ;; IMPORTANTE prova molto interessante, permetterebbe di raddoppiare il livello speacebar
                    ;; [:!Ca :b] ;; IMPORTANTE prova molto interessante, permetterebbe di raddoppiare il livello speacebar
    
                    [:1 :mydesktop1]
                    [:2 :mydesktop2]
                    [:3 :mydesktop3]
                    [:4 :mydesktop4]
                    [:5 :mydesktop5]
                    [:6 :mydesktop6]
                    [:7 :mydesktop7]
                    [:8 :mydesktop8]
                    [:9 :mydesktop9]
                    [:0 :mydesktop0]

                    [:q :myselect_all]
                    [:w :mycut]
                    [:f :mycopy]
                    [:p :mypaste]
                    [:b :mypaste_plain]

                    [:##a :left_control]
                    [:##r :left_shift]
                    [:##s :left_option]
                    [:##t :left_command]
                    [:##g :open_clipMenu]

                    [:x :vk_none]
                    [:c :mysave]
                    [:d :return_or_enter]
                    [:v :open_aText]

                    [:z :vk_none]
                    [:l :myFileOpen]
                    [:u [:down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow :down_arrow]]
                    [:y [:up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow :up_arrow]]
                    [:j :vk_none]

                    [:m :escape]
                    [:##n :left_arrow]
                    [:##e :down_arrow]
                    [:##i :up_arrow]
                    [:##o :right_arrow]
 
                    [:k :command_tab]
                    [:h :next_window]
                    [:comma :page_down]
                    [:period :page_up]
                    [:keypad_5 :vk_none]
                ]
            }


            {
                :des "mode"
                :rules [ 
                    :accentsAndMouse-mode

                    [:delete_or_backspace :!Sdelete_or_backspace] ;; delete backward word 2/3
                    ;; [:delete_or_backspace :!Cdelete_or_backspace] ;; delete backward line 3/3

                    [:1 :mydesktop1]
                    [:2 :mydesktop2]
                    [:3 :mydesktop3]
                    [:4 :mydesktop4]
                    [:5 :mydesktop5]
                    [:6 :mydesktop6]
                    [:7 :mydesktop7]
                    [:8 :mydesktop8]
                    [:9 :mydesktop9]
                    [:0 :mydesktop0]

                    [:q :myselect_all]
                    [:w :mycut]
                    [:f :mycopy]
                    [:p :mypaste]
                    [:b :mypaste_plain]

                    [:##a :left_control]
                    [:##r :left_shift]
                    [:##s :left_option]
                    [:##t :left_command]
                    [:##g :open_clipMenu]

                    [:x :vk_none]
                    [:c :mysave]
                    [:d :return_or_enter]
                    [:v :spacebar] ;; this is different from spacebar-mode

                    [:z :vk_none]
                    [:l :!Sslash]
                    [:u [:grave_accent_and_tilde :u]]
                    [:y :!S1]
                    [:j :vk_none]

                    [:m [:grave_accent_and_tilde :a]]
                    [:n [:quote :e]]
                    [:e [:grave_accent_and_tilde :e]]
                    [:i [:grave_accent_and_tilde :i]]
                    [:o [:grave_accent_and_tilde :o]]

                    [:k [:!Squote :spacebar]] ; ATTENTION: spacebar at the end
                    [:h [:grave_accent_and_tilde :!Se]]
                    [:comma :!Ssemicolon]
                    [:period :semicolon]
                ]
            }


            ;; {
            ;;     :des "mode"
            ;;     :rules [
            ;;         :close_bracket-mode
            ;;         [:e :myprevious_sheet]
            ;;         [:r :mynext_sheet]
            ;;         [:d :myprevious_desktop]
            ;;         [:f :mynext_desktop]
            ;;         [:x :myprevious_tab]
            ;;         [:c :mynext_tab]
            ;;     ]
            ;; }


            {
                :des "mode"
                :rules [
                    :open-mode

                    ;; [:left_option :myprevious_tab]
                    ;; [:left_command :mynext_tab]


                    [:q :myCloseApp]
                    [:w :myCloseWindow]
                    [:f [:open "/Applications/Firefox.app/"]]
                    [:p [:open "/Applications/Adobe Photoshop 2021/Adobe Photoshop 2021.app"]]
                    [:b [:open "/Applications/Obsidian.app/"]] ;; oBsidian
                    [:y :vk_none]

                    [:a [:open "/Applications/Adobe Acrobat Reader DC.app/"]]
                    [:r [:open "/Applications/Safari.app/"]]
                    [:s [:open "/System/Library/CoreServices/Finder.app"]]
                    [:t [:open "/Applications/Google Chrome.app"]]
                    [:g :vk_none]
                    
                    [:z [:open "/Applications/FileZilla.app"]]
                    [:x :vk_none]
                    ;; [:c [:open "/Applications/Google Chrome Canary.app"]]
                    ;; [:v [:open "/Applications/Telegram.app"]]
                    [:d [:open "/Applications/Visual Studio Code.app"]]
                    [:v [:open "/Applications/TextEdit.app/"]]
                    [:b :vk_none]

                    [:u :vk_none]
                    [:i :vk_none]
                    [:p :vk_none]
                    [:open_bracket :vk_none]
                    [:close_bracket :vk_none]

                    [:j :vk_none]
                    [:n [:open "/Applications/Notes.app/"]]
                    [:l :vk_none]
                    [:semicolon :vk_none]
                    ;; [:quote [:open "/Applications/OpenOffice.app/"]]

                    [:n :vk_none]
                    [:k [:open "/Applications/Anki.app/"]] ;; anKi
                    [:comma :vk_none]
                    [:period :vk_none]
                    [:slash :vk_none]


                ]
            }


           {
                :des "mode"
                :rules [
                    :select-mode

                    ;; [:i :!Cdelete_or_backspace]
                    ;; [:o :!Odelete_or_backspace]
                    ;; [:p :!Odelete_forward]
                    ;; [:open_bracket :!Tk]

                    [:k :select-before]
                    [:l :select-previous-word]
                    [:semicolon :select-next-word]
                    [:quote :select-after]
                ]
            }


            {
                :des "mode"
                :rules [ 
                    :numbers-mode
                    [:q :vk_none]
                    [:w :vk_none]
                    [:f :vk_none ]
                    [:p :vk_none]
                    [:b :vk_none]

                    [:a :vk_none]
                    [:r :vk_none]
                    ;; [:s :backslash]
                    [:s :vk_none]
                    [:t :!S5]
                    [:g :equal_sign]

                    [:tab :vk_none]
                    [:x :vk_none]
                    [:c :vk_none]
                    [:d :vk_none]
                    [:v :vk_none]

                    [:z :keypad_hyphen]
                    [:l :7]
                    [:u :8]
                    [:y :9]
                    [:j :keypad_slash]

                    [:m :keypad_plus]
                    [:n :4]
                    [:e :5]
                    [:i :6]
                    [:o :keypad_asterisk]
                    
                    [:k :keypad_0]
                    [:h :1]
                    [:comma :2]
                    [:period :3]
                ] 
            }


            {
                :des "mode"
                :rules [
                    :rectangle-mode

                    [:q :vk_none]
                    [:w :vk_none]
                    [:f :rectangle_top_left]
                    [:p :rectangle_top_right]
                    [:b :vk_none]

                    ;; [:a :vk_none]
                    [:r :vk_none]
                    [:s :rectangle_bottom_left]
                    [:t :rectangle_bottom_right]
                    [:g :vk_none]

                    [:tab :vk_none]
                    [:x :vk_none]
                    [:c :vk_none]
                    [:d :vk_none]
                    [:v :vk_none]

                    [:z :rectangle_first_third]
                    [:l :rectangle_first_two_thirds]
                    [:u :rectangle_center_third]
                    [:y :rectangle_last_two_thirds]
                    [:j :rectangle_last_third]

                    [:m :rectangle_maximize]
                    [:n :rectangle_left_half]
                    [:e :rectangle_bottom_half]
                    [:i :rectangle_top_half]
                    [:o :rectangle_right_half]

                    [:k :rectangle_center]
                    [:h :next_window]
                    [:comma :command_tab]
                    [:period :vk_none]
                    [:keypad_5 :vk_none]
                ]
            }


            {
                :des "mode"
                :rules [
                    :gmail-mode

                    [:i :gmail_cc]
                    [:o :gmail_bcc]
                    [:k :gmail_quote]
                    [:comma :gmail_discard]
                ]
            }


            { 
                :des "mode"
                :rules
                    [
                        :cursor-mode

                        [:k :cursor_find_match]
                        [:n :cursor_above]
                        [:h :cursor_below]
                        ;  [:-v :acejump]
                        ;  [:-l :acejump_line]
                        ;  [:-m :acejump_multi]
                        ;  [:left_shift :acejump_selection]
                    ]
            }


            {
                :des "mode"
                :rules [ 
                    :code-mode 

                    [:f :myopen-from-sidebar]
                    [:p :delete_line]
                    [:b :mytoggle_sidebar]

                    [:a :myfocus_sidebar]
                    [:r :myfocus_terminal]
                    [:s :myfocus_editor]
                    [:t :mytoggle_comments]

                ]
            }


            {
                :des "mode"
                :rules [ 
                    :parentheses-mode

                    ;; [:1 :!C1]
                    ;; [:2 :!C2]
                    ;; [:3 :!C3]
                    ;; [:4 :!C4]
                    ;; [:5 :!C5]
                    ;; [:6 :!C6]
                    ;; [:7 :!C7]
                    ;; [:8 :!C8]
                    ;; [:9 :!C9]
                    ;; [:0 :!C0]

                    [:delete_forward :!Tk] ;; delete foreward line 3/3

                    [:w :!Shyphen]
                    [:q :!Sbackslash]
                    [:f :!Sopen_bracket]
                    [:p :!Sclose_bracket]
                    [:b [:grave_accent_and_tilde :spacebar]] ; ATTENTION: spacebar at the end

                    [:a :open_bracket]
                    [:r :close_bracket]
                    [:s :!S9]
                    [:t :!S0]
                    [:g :equal_sign]

                    [:x :!S4]
                    [:c :!Scomma]
                    [:d :!Speriod]
                    [:v :!S3]

                ]
            }


            {
                :des "mode"
                :rules [ 
                    :text-mode 

                    [:a :mystrikethrough]
                    [:r :myunderline]
                    [:s :myitalic]
                    [:t :mybold]
                    [:c :fontdecrease]
                    [:d :fontincrease]
                ]
            }


            {
                :des "mode"
                :rules [ 
                    :find-mode

                    [:f :myfind_previous]
                    [:p :myfind_next]
                    [:a :myfind_selection]
                    [:r :myfind_replace]
                    [:s :myfind_gspreadsheet]
                    [:t :myfind]
                ]
            }


            {:des "default mode"
                :rules [

                    [:!C1 :!C1]
                    [:!C2 :!C2]
                    [:!C3 :!C3]
                    [:!C4 :!C4]
                    [:!C5 :!C5]
                    [:!C6 :!C6]
                    [:!C7 :!C7]
                    [:!C8 :!C8]
                    [:!C9 :!C9]
                    [:!C0 :!C0]

                    ;; [:keypad_2 [:quote :spacebar]]
                    ;; [:keypad_2 :vk_none ]
                    ;; [:b [:grave_accent_and_tilde :spacebar]]
                    [:##Skeypad_3 :myredo]
                    [:keypad_4 :myundo]
                    ;; [:##Skeypad_4 :myredo]
                    [:keypad_1 :vk_none]
                    [:keypad_9 :vk_none]


                    ;; [:left_shift :vk_none]

                    ;; [:escape :vk_none]

                    ;; [:grave_accent_and_tilde :escape]
                    ;; [:grave_accent_and_tilde :delete_forward] ;; delete foreward character 1/3
                    ;; [:!Rgrave_accent_and_tilde :!Odelete_forward] ;; delete foreward word 2/3 
                    ;; [:!Rgrave_accent_and_tilde :!Tk] ;; delete foreward line 3/3

                    [:delete_or_backspace :!Odelete_or_backspace] ;; delete backward character 1/3
                    [:delete_forward :!Odelete_forward] 
                    ;; [:!Sdelete_or_backspace :!Odelete_or_backspace] ;; delete backward word 2/3
                    ;; [:!Sclose_bracket :!Cdelete_or_backspace] ;; delete backward line 3/3
                    ;; [:delete_or_backspace :vk_none]

                    ;; [:left_control :vk_none]
                    ;; [:left_option :vk_none]

                    ;; [:right_command :vk_none]
                    ;; [:right_option :vk_none]

                    ;; [:right_shift :right_shift nil {:alone [:quote :spacebar]}]
                    ;; [:left_shift :left_shift nil {:alone [:quote :spacebar]}]
                    ;; [:left_command :left_command nil {:alone [:quote :spacebar]}]
                    ;; [:right_command :right_command nil {:alone [:quote :spacebar]}]

                    ;; [:caps_lock :z]
                    ;; [:##caps_lock :z]


                    ;; [:e :f]
                    ;; [:##Se :##Sf]
                    ;; [:r :p]
                    ;; [:##Sr :##Sp]
                    ;; [:t :b]
                    ;; [:##St :##Sb]
                    ;; [:y :vk_none]
                    ;; [:##Sy :vk_none]
                    ;; [:s :r]
                    ;; [:##Ss :##Sr]
                    ;; [:d :s]
                    ;; [:##Sd :##Ss]
                    ;; [:f :t]
                    ;; [:##Sf :##St]
                    ;; [:z :x]
                    ;; [:##Sz :##Sx]
                    ;; [:x :c]
                    ;; [:##Sx :##Sc]
                    ;; [:c :d]
                    ;; [:##Sc :##Sd]
                    ;;  [:v :d]
                    ;; [:##Sb :vk_none]                  
                    ;; [:b :v]
                    ;; [:##Sb :vk_none]


                    ;; [:u :vk_none]
                    ;; [:##Su :vk_none]
                    ;; [:u :myundo]
                    ;; [:##Su :myredo]
                    ;; [:i :l]
                    ;; [:##Si :##Sl]
                    ;; [:o :u]
                    ;; [:##So :##Su]
                    ;; [:p :y]
                    ;; [:##Sp :##Sy]
                    ;; [:open_bracket :j]
                    ;; [:##Sopen_bracket :##Sj]
                    ;; [:close_bracket :myBackspaceWord]
                    ;; [:##close_bracket :delete_or_backspace]

                    ;; [:j :m]
                    ;; [:##Sj :##Sm]
                    ;; [:k :n]
                    ;; [:##Sk :##Sn]
                    ;; [:l :e]
                    ;; [:##Sl :##Se]
                    ;; [:semicolon :i]
                    ;; [:##semicolon :##Si]
                    ;; [:quote :o]
                    ;; [:##Squote :##So]
                    ;; [:m :k]
                    ;; [:##Sm :##Sk]
                    ;; [:comma :h]
                    ;; [:##Scomma :##Sh]
                    ;; [:period :comma]
                    [:!Scomma :!S2]
                    ;; [:slash :period]
                    [:!Speriod :!S7]

                    ;; [:h :vk_none]
                    ;; [:##Sh :vk_none]
                    ;; [:n :vk_none]
                    ;; [:##Sn :vk_none]
                    ;; [:n :myundo]
                    ;; [:##Sn :myredo]

                ]
            }

        ]
    }