{
:profiles {:goku{:default true :sim 50 :delay 80 :alone 120 :held 70}}

; :simlayers 	{
; 		:w-mode {:key :w}				;; open applications
; 		:o-mode {:key :o}				;; "Okey Alred"
; 		:v-mode {:key :v}				;; VWX hotkeys
; 		:caps-mode {:key :caps_lock}	;; caps super mod
; }


        :layers {
            :shift-mode {:key :shift}
        }


        :simlayers {
            :pippo-mode {:key :f}
        }
        :main [
            {
                :des "XXXXXXXXXXXXX-mode layer"
                :rules [ 
                    :pippo-mode 
                    [:k :comma]
                    [:l :period]
                    [:semicolon :!Ssemicolon]
                    [:quote :semicolon]
                    [:spacebar :return_or_enter]
            ]}
            {
                :des "shift-mode layer"
                :rules [ 
                    :shift-mode 
                    ; [:##1 :4]
                    ; [:a :!Sa]
                    ; [:e :!Se]
                    ; [:##r :!Sp]
                    ; [:t :!Sb]
                    ; [:s :!Sr]
                    ; [:d :!Ss]
                    ; [:f :!St]
                    ; [:z :!Sx]
                    ; [:x :!Sc]
                    ; [:c :!Sd]
                    ; [:u :!Sj]
                    ; [:i :!Sl]
                    ; [:o :!Su]
                    ; [:p :!Sy]
                    ; [:j :!Sm]
                    ; [:k :!Sn]
                    ; [:l :!Se]
                    ; [:quote :!So]
                    ; [:n :!Sz]
                    ; [:m :!Sk]

            ]}            

            {:des "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
              :rules [
                [:caps_lock :delete_or_backspace]
                [:e :f]
                [:##Se :!Sf]
                [:r :p]
                [:##Sr :!Sp]
                [:t :b]
                [:##St :!Sb]
                [:s :r]
                [:##Ss :!Sr]
                [:d :s]
                [:##Sd :!Ss]
                [:f :t]
                [:##Sf :!St]
                [:z :x]
                [:##Sz :!Sx]
                [:x :c]
                [:##Sx :!Sc]
                [:c :d]
                [:##Sc :!Sd]
                [:u :j]
                [:##Su :!Sj]
                [:i :l]
                [:##Si :!Sl]
                [:o :u]
                [:##So :!Su]
                [:p :y]
                [:##Sp :!Sy]
                [:j :m]
                [:##Sj :!Sm]
                [:k :n]
                [:##Sk :!Sn]
                [:l :e]
                [:##Sl :!Se]
                [:semicolon :i]
                [:##semicolon :!Si]
                [:quote :o]
                [:##quote :!So]
                [:n :z]
                [:##Sn :!Sz]
                [:m :k]
                [:##Sm :!Sk]
                [:comma :h]
                [:##Scomma :!Sh]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [: :]
                ; [{:key :spacebar :modi :left_shift} [:spacebar :equal_sign :spacebar]]
            ]}
            ; {:des "capslock layer"
            ;   :rules [ 
            ;       :caps_mode 
            ;         [:##h :left_arrow]
            ;         [:##j :down_arrow]
            ;         [:##k :up_arrow]
            ;         [:##l :right_arrow]
            ;         [:##f :left_option]
            ;         [:##d :left_shift]
            ;         [:n :comma]
            ; ]}

        ]
    }
